body {
    font-family: var(--body1f);
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
}

h1{
    font-size: var(--hea1);
    font-family: var(--hea1f);
}

h2{
    font-size: var(--hea2);
    font-family: var(--hea2f);
}

h3{
    font-size: var(--hea3);
    font-family: var(--hea3f);
}

title{
    font-size: var(--title);
    font-family: var(--titlef);
}

button{
    font-size: var(--bouton);
    font-family: var(--boutonf);
}

.body{
    background-color: #282828;
    color: #fff;
}

.listUnstyled{
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.bar{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
    border-top: 1px solid #383838;
    padding-top: 20px;
    gap: 30px;
        }

