body{
    font-family: var(--body1f);
    font-size: var(--body1);
}

h1{
    font-family: var(--hea1);
    font-family: var(--hea1f);
}

h2{
    font-family: var(--hea2);
    font-family: var(--hea2f);
}

h3{
    font-family: var(--hea3);
    font-family: var(--hea3f);
}

title{
    font-family: var(--title);
    font-family: var(--titlef);
}

button{
    font-family: var(--bouton);
    font-family: var(--boutonf);
}

.body{
    background-color: #282828;
    color: #fff;
}



