
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 25px;
    background-color: #282828;
}

.header__title{
    font-size: var(--hea1);
    font-family: var(--hea1f);
    font-weight: 400;
    color: white;
    margin-left: 2rem;
    -webkit-text-stroke:0.5px var(--bleu); ;
}