
.bouton1 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.bouton1 a {
    font-family: var(--boutonf);
    font-size: var(--bouton);
    display: inline-block;
    padding: 10px 20px;
    background-color: #212121;
    border : solid 2px;
    color: #FF1717;
    text-decoration: none;
    font-weight: bold;
    border-radius: 0px;
    transition: background-color 0.3s;
}

/* Section des détails de l'événement */
.event-details {
    background-color: #212121;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.event-details h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: #fff;
}

.event-details p {
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    color: #ccc;
}

.presentation {
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #212121;
}